.main {
    display: grid;
    background: #323240;
    padding-bottom: 24px;
    min-height: 100vh;
    min-width: 390px;
} 
.article {
    background: #DCF235;
    color: #000;
    border-radius: 16px;
    padding: 12px;
}
.section {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 324px) );
    gap: 32px 12px;
    place-content: center;
    margin: 24px 0;
    user-select: none;
}

.loadMore {
    place-self: center;
    background: #DCF235;
    color: #000;
    text-align: center;
    border: none;
    border-radius: 100px;
    padding: 12px 30px;
    display: grid;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
.loadMore:hover{
    text-decoration: line-through;
}

.searcher {
    margin: 24px auto 48px;
}
.searcherInput {
    height: 48px;
    width:316px ;
    padding-left: 8px;
    outline: none;
    border: none;
    border-radius: 16px;
    background: #DCF235;
    color: #000;
    transition: width .3s ease;
}
.searcherInput:hover,.searcherInput:focus {
    width:632px;
}
.articleImg {
    width: 300px;
    height: 300px;
    border-radius: 12px 12px;
}
.articleRow {
    display: flex;
    place-items: center;
    border-radius: 16px;
    gap: 4px;
    padding: 6px;
    margin: 0;
    height: fit-content;
    width: fit-content;
}
.articleRow:hover {
    background: #BFA7F2;
    padding-right: 80px;
    transition: all .3s ease;
}

.articleSVG {
    width: 24px;
    height: 24px;
}

.articleP {
    margin: 0;
}

.errorContainer {
    display: grid;
    text-align: center;
}

.searcher {
    text-align: center
}

.searchSticky {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background: #BFA7F2;
    height: 48px;
    width: 48px;
    display: grid;
    place-content: center;
    color: #000;
    border-radius: 50%;
}

@media (max-width:900px) {
    .section {
        grid-template-columns: repeat( auto-fit, minmax(150px, 275px) );
    }
    .articleImg {
        width: 250px;
        height: 250px;
        border-radius: 12px 12px;
    }
    .searcherInput:hover,.searcherInput:focus {
        width:550px;
    }
}

@media (max-width:580px) {
    .section {
        grid-template-columns: repeat( auto-fit, minmax(80vw,95vw ) );
    }
    .article {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4,50px);
        align-items: center;
        gap: 0 12px;

    }
    .articleImg {
        width: 200px;
        height: 200px;
        border-radius: 12px 12px;
        grid-row: 1/5;
    }
    .searcherInput {
        width: 50vw;
    }
    .searcherInput:hover,.searcherInput:focus {
        width:75vw;
    }
    .articleRow:hover {
        padding: 6px;
    }
}

